@import 'config';
#body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    @extend #body;
    align-items: center;
    background-color: #444;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    .input-container{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
        height: 15vh;
        background: #000;
        border-radius: 10px;
        width:95vw;
        #calc{
            background-color: transparent;
            border: none; 
            color: #fff;
            font-size: 40px;
            text-align: left;
            padding: 0px 20px;
            width: 100%;
            &:active{
                border: none;
            }
        }
        #result{
            align-items:center;
            background-color: transparent;
            color: #fff;
            display: flex;
            font-size: 50px;
            justify-content: flex-end;
            padding: 0px 20px;
            text-align: center;
            width: 100%;
        }
    }
    .container-buttons-basics{
        display: grid;
        grid-template-rows: repeat(4,auto);
        grid-template-columns: repeat(6,auto);
        grid-gap: 10px;
        .btn, .submit, .erase, .Ans{
            background: #4e0000;
            border: none;
            height: 15vh;
            text-align: center;
            color: #fff;
            &:active{
                background: #fff;
            }
        }
    }


    

}

@media (max-width:900px) {
    .container{
        .input-container{
            #calc{
                font-size: 25px;
                padding: 0px 10px;
                margin: 5px 10px;
            }
            #result{
                font-size: 30px;
                padding: 0px 20px;
            }
        }
        .container-buttons-basics{
            .btn, .submit, .erase, .Ans{
                height: 15vh;
                width: 13.5vw;
                font-size: 20px;
            }
        }
    }
}
@media (min-width:900px) {
    .container{
        .input-container{
            #calc{
                font-size: 40px;
            }
            #result{
                font-size: 50px;
            }
        }
        .container-buttons-basics{
            .btn, .submit, .erase, .Ans{
                width: 13.5vw;
                font-size: 30px;
            }
        }
    }
}
@media (max-height:550px) {
    .container{
        .input-container{
            flex-direction: row;
            #calc{
                font-size: 20px;
                width: 50%;
            }
            #result{
                font-size: 25px;
                width: 50%;
                overflow-x: hidden;
            }
        }
        .container-buttons-basics{
            .btn, .submit, .erase, .Ans{
                height: 13.5vh;
                width: 13.5vw;
                font-size: 20px;
            }
        }
    }
    
}